<h1 mat-dialog-title>Hi {{data.username}}</h1>
<div mat-dialog-content>
    <form [formGroup]="pizzaUpdate" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <mat-label>Crust</mat-label>
            <input matInput formControlName="crust" type="text" required />
        </mat-form-field>
        <mat-form-field>
            <mat-label>Sauce</mat-label>
            <input matInput formControlName="sauce" type="text" required />
        </mat-form-field>
        <mat-form-field>
            <mat-label>Cheese</mat-label>
            <input matInput formControlName="cheese" type="text" required />
        </mat-form-field>
        <mat-form-field>
            <mat-label>Toppings</mat-label>
            <input matInput formControlName="toppings" type="text" required />
        </mat-form-field>
        <mat-form-field>
            <mat-label>Time To Bake</mat-label>
            <input matInput formControlName="timeToBake" type="text" required />
        </mat-form-field>
        <mat-form-field>
            <mat-label>Bake Temperature</mat-label>
            <input matInput formControlName="bakeTemp" type="text" required />
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="this.pizzaUpdate.value" [disabled]="!pizzaUpdate.valid">Update</button>
</div>