<mat-sidenav-container [class.sidenav-opened]="sidenav.opened" class="container">
    <mat-sidenav #sidenav mode="side" opened="false" class="sidenav">
        <mat-toolbar class="sidebar-header">
            <h1>Navigation</h1>
            <mat-icon class="close" (click)="sidenav.close()">close</mat-icon>
        </mat-toolbar>
        <nav class="buttons">
            <button mat-raised-button routerLink="/home" routerLinkActive="active" id="home-button">Pizzas!</button>
            <button mat-raised-button routerLink="/profile" routerLinkActive="active" id="profile-button">Profile</button>
            <!-- <button mat-raised-button routerLink="/makePizza" routerLinkActive="active" id="pizza-button">Make a Pizza</button> -->
        </nav>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar class="header">
            <mat-icon *ngIf="!sidenav.opened" (click)="sidenav.open()">menu</mat-icon>
            <h1>Header</h1>
            <button *ngIf="!isUser()" routerLink="/authenticate" routerLinkActive="active">Sign In/Sign Up</button>
            <button *ngIf="isUser()" (click)="logout()">Logout</button>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>